@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(to right, rgb(29, 136, 207), rgb(52, 209, 209));
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.menu-img {
  height: 72px;
}

.menu {
  display: flex;
  gap: 32px;
}

.menu-link {
  font-family: "Sarala", sans-serif;
  color: black;
  font-weight: 800;
  font-size: 18px;
  position: relative;
}
.menu-link::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.menu-link:hover::after {
  width: 100%;
}

.principal {
  padding-top: 24px;
  margin-bottom: 48px;
  border-top: 0.4px solid #000000;
}

.principal1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.divisao {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.titulo1 {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 64px;
  color: black;
}

.titulo2 {
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  font-size: 24;
  color: black;
}

.botao {
  background: none;
  width: 185px;
  height: 67px;
  border: 4px solid #202020;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #202020;
  transition: box-shadow 0.3s;
  cursor: pointer;
  outline: none;
}

.botao:hover {
  border: 4px solid #00d9ff;
  color: #00d9ff;
  box-shadow: 0px 0px 15px #00d9ff, 0px 0px 15px #00d9ffc0 inset;
  text-shadow: 0px 0px 10px #00d9ffcc, 0px 0px 3px #00d9ff;
}

.imagem1 {
  height: 430;
}

.principal2 {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.titulo3 {
  border-top: 0.4px solid #000000;
  padding-top: 48px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 24px;
  color: black;
  margin-bottom: 16px;
}

.subtitulo {
  font-family: "Sarala", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: black;
}

.rodape {
  border-top: 0.4px solid #000000;
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
